# Android
/app/build/
.gradle/
local.properties
*.apk
*.ap_
*.aab

# Gradle
gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
.vscode/
*.iml

# Logs y temporales
*.log
*.tmp
*.temp

# Backups
*.backup
*.old
*.orig
